<div class="tmpl-hh-footer">
  <div class="tmpl-hh-footer__advantages">
    {{#each this.advantages}}
      <span class="tmpl-hh-footer__advantage">{{{this}}}</span>
    {{/each}}
  </div>
  <div class="tmpl-hh-footer__wrapper">
    <p class="tmpl-hh-footer__slogan">Действуй смело!</p>
    <img src="https://hhcdn.ru/ichameleon/343910.png" alt="logo" class="tmpl-hh-footer__logo"/>
  </div>
</div>
